.marker-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.marker {
    position: absolute;

    white-space: nowrap;
    color: #ffffff;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
